.note {
  background-color: #fff;
  border-radius: 6px;
  padding: 12px 20px;
  text-align: left;
  margin: 10px;
  font-size:large;
}

.descripton {
  display: block;
  color: blueviolet;
  font-style: italic;
}

.note p {
  color: #000;
  font-weight:bold;
  cursor: pointer;
  font-size: x-large;
}

.note h1{
  color: rgb(255, 255, 255);
  /* text-align: center; */
}

.note button{
  
  margin: 2px;
  background-color: rgb(129,70,240);
  color: #fff;
  border:  0;
  border-radius: 5px;
  padding: 4px 8px; 
  cursor:pointer;
  font-size: medium;
  margin-top: 40px;
}

.note button:hover {
  background-color: rgb(129,70,200);
}

.note button.delete{
  background-color: rgb(238,67,55);

}

.note button.delete:hover{
  background-color: rgb(223,57,45);
}

.note h1 {
color: #fff;
}

/* 
body{
  background-color: #d7b7e5;
  scrollbar-color: pink;
  
} */

